function OutputCustom.init 0
    push constant 0
    pop static 3
    push constant 0
    pop static 4
    push constant 8
    pop static 5
    push constant 11
    pop static 6
    push constant 63
    pop static 7
    push constant 22
    pop static 8
    push constant 6
    call Common.powerOfTwo 1
    pop static 1
    push constant 5
    call Array.new 1
    pop static 2
    call ScreenCustom.init 0
    pop temp 0
    call OutputCustom.initMap 0
    pop temp 0
    push constant 0
    return
function OutputCustom.initMap 1
    push constant 127
    call Array.new 1
    pop static 0
    push constant 0
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 63
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 32
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 33
    push constant 12
    push constant 30
    push constant 30
    push constant 30
    push constant 12
    push constant 12
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 34
    push constant 54
    push constant 54
    push constant 20
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 35
    push constant 0
    push constant 18
    push constant 18
    push constant 63
    push constant 18
    push constant 18
    push constant 63
    push constant 18
    push constant 18
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 36
    push constant 12
    push constant 30
    push constant 51
    push constant 3
    push constant 30
    push constant 48
    push constant 51
    push constant 30
    push constant 12
    push constant 12
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 37
    push constant 0
    push constant 0
    push constant 35
    push constant 51
    push constant 24
    push constant 12
    push constant 6
    push constant 51
    push constant 49
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 38
    push constant 12
    push constant 30
    push constant 30
    push constant 12
    push constant 54
    push constant 27
    push constant 27
    push constant 27
    push constant 54
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 39
    push constant 12
    push constant 12
    push constant 6
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 40
    push constant 24
    push constant 12
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 12
    push constant 24
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 41
    push constant 6
    push constant 12
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 12
    push constant 6
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 42
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 30
    push constant 63
    push constant 30
    push constant 51
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 43
    push constant 0
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 63
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 44
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 6
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 45
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 63
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 46
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 47
    push constant 0
    push constant 0
    push constant 32
    push constant 48
    push constant 24
    push constant 12
    push constant 6
    push constant 3
    push constant 1
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 48
    push constant 12
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 12
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 49
    push constant 12
    push constant 14
    push constant 15
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 63
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 50
    push constant 30
    push constant 51
    push constant 48
    push constant 24
    push constant 12
    push constant 6
    push constant 3
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 51
    push constant 30
    push constant 51
    push constant 48
    push constant 48
    push constant 28
    push constant 48
    push constant 48
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 52
    push constant 16
    push constant 24
    push constant 28
    push constant 26
    push constant 25
    push constant 63
    push constant 24
    push constant 24
    push constant 60
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 53
    push constant 63
    push constant 3
    push constant 3
    push constant 31
    push constant 48
    push constant 48
    push constant 48
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 54
    push constant 28
    push constant 6
    push constant 3
    push constant 3
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 55
    push constant 63
    push constant 49
    push constant 48
    push constant 48
    push constant 24
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 56
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 57
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 62
    push constant 48
    push constant 48
    push constant 24
    push constant 14
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 58
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 59
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    push constant 12
    push constant 12
    push constant 6
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 60
    push constant 0
    push constant 0
    push constant 24
    push constant 12
    push constant 6
    push constant 3
    push constant 6
    push constant 12
    push constant 24
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 61
    push constant 0
    push constant 0
    push constant 0
    push constant 63
    push constant 0
    push constant 0
    push constant 63
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 62
    push constant 0
    push constant 0
    push constant 3
    push constant 6
    push constant 12
    push constant 24
    push constant 12
    push constant 6
    push constant 3
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 64
    push constant 30
    push constant 51
    push constant 51
    push constant 59
    push constant 59
    push constant 59
    push constant 27
    push constant 3
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 63
    push constant 30
    push constant 51
    push constant 51
    push constant 24
    push constant 12
    push constant 12
    push constant 0
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 65
    push constant 12
    push constant 30
    push constant 51
    push constant 51
    push constant 63
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 66
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 67
    push constant 28
    push constant 54
    push constant 35
    push constant 3
    push constant 3
    push constant 3
    push constant 35
    push constant 54
    push constant 28
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 68
    push constant 15
    push constant 27
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 27
    push constant 15
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 69
    push constant 63
    push constant 51
    push constant 35
    push constant 11
    push constant 15
    push constant 11
    push constant 35
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 70
    push constant 63
    push constant 51
    push constant 35
    push constant 11
    push constant 15
    push constant 11
    push constant 3
    push constant 3
    push constant 3
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 71
    push constant 28
    push constant 54
    push constant 35
    push constant 3
    push constant 59
    push constant 51
    push constant 51
    push constant 54
    push constant 44
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 72
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 63
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 73
    push constant 30
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 74
    push constant 60
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 27
    push constant 27
    push constant 14
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 75
    push constant 51
    push constant 51
    push constant 51
    push constant 27
    push constant 15
    push constant 27
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 76
    push constant 3
    push constant 3
    push constant 3
    push constant 3
    push constant 3
    push constant 3
    push constant 35
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 77
    push constant 33
    push constant 51
    push constant 63
    push constant 63
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 78
    push constant 51
    push constant 51
    push constant 55
    push constant 55
    push constant 63
    push constant 59
    push constant 59
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 79
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 80
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 3
    push constant 3
    push constant 3
    push constant 3
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 81
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 63
    push constant 59
    push constant 30
    push constant 48
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 82
    push constant 31
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 27
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 83
    push constant 30
    push constant 51
    push constant 51
    push constant 6
    push constant 28
    push constant 48
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 84
    push constant 63
    push constant 63
    push constant 45
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 85
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 86
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 30
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 87
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 63
    push constant 63
    push constant 63
    push constant 18
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 88
    push constant 51
    push constant 51
    push constant 30
    push constant 30
    push constant 12
    push constant 30
    push constant 30
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 89
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 90
    push constant 63
    push constant 51
    push constant 49
    push constant 24
    push constant 12
    push constant 6
    push constant 35
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 91
    push constant 30
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 6
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 92
    push constant 0
    push constant 0
    push constant 1
    push constant 3
    push constant 6
    push constant 12
    push constant 24
    push constant 48
    push constant 32
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 93
    push constant 30
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 24
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 94
    push constant 8
    push constant 28
    push constant 54
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 95
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 63
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 96
    push constant 6
    push constant 12
    push constant 24
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 97
    push constant 0
    push constant 0
    push constant 0
    push constant 14
    push constant 24
    push constant 30
    push constant 27
    push constant 27
    push constant 54
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 98
    push constant 3
    push constant 3
    push constant 3
    push constant 15
    push constant 27
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 99
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 3
    push constant 3
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 100
    push constant 48
    push constant 48
    push constant 48
    push constant 60
    push constant 54
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 101
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 63
    push constant 3
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 102
    push constant 28
    push constant 54
    push constant 38
    push constant 6
    push constant 15
    push constant 6
    push constant 6
    push constant 6
    push constant 15
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 103
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 62
    push constant 48
    push constant 51
    push constant 30
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 104
    push constant 3
    push constant 3
    push constant 3
    push constant 27
    push constant 55
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 105
    push constant 12
    push constant 12
    push constant 0
    push constant 14
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 106
    push constant 48
    push constant 48
    push constant 0
    push constant 56
    push constant 48
    push constant 48
    push constant 48
    push constant 48
    push constant 51
    push constant 30
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 107
    push constant 3
    push constant 3
    push constant 3
    push constant 51
    push constant 27
    push constant 15
    push constant 15
    push constant 27
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 108
    push constant 14
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 109
    push constant 0
    push constant 0
    push constant 0
    push constant 29
    push constant 63
    push constant 43
    push constant 43
    push constant 43
    push constant 43
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 110
    push constant 0
    push constant 0
    push constant 0
    push constant 29
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 111
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 112
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 31
    push constant 3
    push constant 3
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 113
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 51
    push constant 51
    push constant 62
    push constant 48
    push constant 48
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 114
    push constant 0
    push constant 0
    push constant 0
    push constant 29
    push constant 55
    push constant 51
    push constant 3
    push constant 3
    push constant 7
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 115
    push constant 0
    push constant 0
    push constant 0
    push constant 30
    push constant 51
    push constant 6
    push constant 24
    push constant 51
    push constant 30
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 116
    push constant 4
    push constant 6
    push constant 6
    push constant 15
    push constant 6
    push constant 6
    push constant 6
    push constant 54
    push constant 28
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 117
    push constant 0
    push constant 0
    push constant 0
    push constant 27
    push constant 27
    push constant 27
    push constant 27
    push constant 27
    push constant 54
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 118
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 51
    push constant 51
    push constant 51
    push constant 30
    push constant 12
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 119
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 51
    push constant 51
    push constant 63
    push constant 63
    push constant 18
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 120
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 30
    push constant 12
    push constant 12
    push constant 30
    push constant 51
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 121
    push constant 0
    push constant 0
    push constant 0
    push constant 51
    push constant 51
    push constant 51
    push constant 62
    push constant 48
    push constant 24
    push constant 15
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 122
    push constant 0
    push constant 0
    push constant 0
    push constant 63
    push constant 27
    push constant 12
    push constant 6
    push constant 51
    push constant 63
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 123
    push constant 56
    push constant 12
    push constant 12
    push constant 12
    push constant 7
    push constant 12
    push constant 12
    push constant 12
    push constant 56
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 124
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 12
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 125
    push constant 7
    push constant 12
    push constant 12
    push constant 12
    push constant 56
    push constant 12
    push constant 12
    push constant 12
    push constant 7
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 126
    push constant 38
    push constant 45
    push constant 25
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    push constant 0
    call OutputCustom.create 12
    pop temp 0
    push constant 0
    return
function OutputCustom.create 1
    push constant 11
    call Array.new 1
    pop local 0
    push argument 0
    push static 0
    add
    push local 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    push local 0
    add
    push argument 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    push local 0
    add
    push argument 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 0
    add
    push argument 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push local 0
    add
    push argument 4
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 0
    add
    push argument 5
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push local 0
    add
    push argument 6
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 0
    add
    push argument 7
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push local 0
    add
    push argument 8
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 0
    add
    push argument 9
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 9
    push local 0
    add
    push argument 10
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 0
    add
    push argument 11
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function OutputCustom.getMap 0
    push argument 0
    push constant 32
    lt
    push argument 0
    push constant 126
    gt
    or
    not
    if-goto OutputCustom_1
    push constant 0
    pop argument 0
    goto OutputCustom_0
label OutputCustom_1
label OutputCustom_0
    push argument 0
    push static 0
    add
    pop pointer 1
    push that 0
    return
function OutputCustom.moveCursor 2
    push argument 0
    push constant 0
    lt
    push argument 0
    push constant 22
    gt
    or
    push argument 1
    push constant 0
    lt
    or
    push argument 1
    push constant 63
    gt
    or
    not
    if-goto OutputCustom_3
    push constant 20
    call Sys.error 1
    pop temp 0
    goto OutputCustom_2
label OutputCustom_3
label OutputCustom_2
    push static 5
    push argument 1
    call Math.multiply 2
    pop local 0
    push static 6
    push argument 0
    call Math.multiply 2
    pop local 1
    push argument 1
    pop static 4
    push argument 0
    pop static 3
    push constant 1
    neg
    call ScreenCustom.setColor 1
    pop temp 0
    push local 0
    push constant 2
    add
    push local 1
    push constant 2
    add
    push local 0
    push static 5
    add
    push constant 2
    sub
    push local 1
    push static 6
    add
    push constant 2
    sub
    call ScreenCustom.drawRectangle 4
    pop temp 0
    push constant 0
    return
function OutputCustom.printChar 7
    push argument 0
    call OutputCustom.getMap 1
    pop local 6
    push constant 0
    pop local 0
    push static 6
    push static 3
    call Math.multiply 2
    pop local 5
    push static 5
    push static 4
    call Math.multiply 2
    pop local 4
label OutputCustom_4
    push local 0
    push static 6
    lt
    not
    if-goto OutputCustom_5
    push local 0
    push local 6
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label OutputCustom_6
    push local 1
    push constant 6
    lt
    not
    if-goto OutputCustom_7
    push local 2
    push local 1
    push static 1
    add
    pop pointer 1
    push that 0
    and
    push constant 0
    gt
    not
    if-goto OutputCustom_9
    push local 4
    push local 1
    add
    push local 5
    push local 0
    add
    call ScreenCustom.drawPixel 2
    pop temp 0
    goto OutputCustom_8
label OutputCustom_9
    push constant 0
    call ScreenCustom.setColor 1
    pop temp 0
    push local 4
    push local 1
    add
    push local 5
    push local 0
    add
    call ScreenCustom.drawPixel 2
    pop temp 0
    push constant 1
    neg
    call ScreenCustom.setColor 1
    pop temp 0
label OutputCustom_8
    push local 1
    push constant 1
    add
    pop local 1
    goto OutputCustom_6
label OutputCustom_7
    push local 0
    push constant 1
    add
    pop local 0
    goto OutputCustom_4
label OutputCustom_5
    push constant 0
    call ScreenCustom.setColor 1
    pop temp 0
    push local 4
    push constant 6
    add
    push local 5
    push local 4
    push static 5
    add
    push constant 1
    sub
    push local 5
    push static 6
    add
    call ScreenCustom.drawRectangle 4
    pop temp 0
    push constant 1
    neg
    call ScreenCustom.setColor 1
    pop temp 0
    call OutputCustom.moveCursorToNextPosition 0
    pop temp 0
    push constant 0
    return
function OutputCustom.moveCursorToNextPosition 0
    push static 4
    push static 7
    eq
    not
    if-goto OutputCustom_11
    push static 3
    push static 8
    eq
    not
    if-goto OutputCustom_13
    push constant 0
    pop static 4
    push constant 0
    pop static 3
    goto OutputCustom_12
label OutputCustom_13
    push constant 0
    pop static 4
    push static 4
    push constant 1
    add
    pop static 3
label OutputCustom_12
    goto OutputCustom_10
label OutputCustom_11
    push static 4
    push constant 1
    add
    pop static 4
label OutputCustom_10
    push constant 0
    return
function OutputCustom.printString 1
    push constant 0
    pop local 0
    push constant 17000
    push argument 0
    call String.length 1
    call Memory.poke 2
    pop temp 0
label OutputCustom_14
    push local 0
    push argument 0
    call String.length 1
    lt
    not
    if-goto OutputCustom_15
    push constant 17000
    push local 0
    add
    push argument 0
    push local 0
    call String.charAt 2
    call Memory.poke 2
    pop temp 0
    push argument 0
    push local 0
    call String.charAt 2
    call OutputCustom.printChar 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto OutputCustom_14
label OutputCustom_15
    push constant 0
    return
function OutputCustom.printStringCustom 1
    push constant 0
    pop local 0
    push constant 17000
    push argument 0
    call StringCustom.length 1
    call Memory.poke 2
    pop temp 0
label OutputCustom_16
    push local 0
    push argument 0
    call StringCustom.length 1
    lt
    not
    if-goto OutputCustom_17
    push constant 18030
    push local 0
    add
    push argument 0
    push local 0
    call StringCustom.charAt 2
    call Memory.poke 2
    pop temp 0
    push argument 0
    push local 0
    call StringCustom.charAt 2
    call OutputCustom.printChar 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto OutputCustom_16
label OutputCustom_17
    push constant 0
    return
function OutputCustom.printInt 2
    push constant 1
    neg
    pop local 0
    push argument 0
    push constant 0
    lt
    not
    if-goto OutputCustom_19
    push constant 45
    call OutputCustom.printChar 1
    pop temp 0
    goto OutputCustom_18
label OutputCustom_19
label OutputCustom_18
    push argument 0
    call Math.abs 1
    pop local 1
label OutputCustom_20
    push local 1
    push constant 0
    gt
    not
    if-goto OutputCustom_21
    push local 0
    push constant 1
    add
    pop local 0
    push local 0
    push static 2
    add
    push local 1
    push local 1
    push constant 10
    call Math.divide 2
    push constant 10
    call Math.multiply 2
    sub
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 10
    call Math.divide 2
    pop local 1
    goto OutputCustom_20
label OutputCustom_21
    push local 0
    pop local 1
label OutputCustom_22
    push local 1
    push constant 1
    neg
    gt
    not
    if-goto OutputCustom_23
    push local 1
    push static 2
    add
    pop pointer 1
    push that 0
    push constant 48
    add
    call OutputCustom.printChar 1
    pop temp 0
    push local 1
    push constant 1
    sub
    pop local 1
    goto OutputCustom_22
label OutputCustom_23
    push constant 0
    return
function OutputCustom.println 0
    push static 3
    push static 8
    push constant 1
    add
    lt
    not
    if-goto OutputCustom_25
    push static 3
    push constant 1
    add
    pop static 3
    push constant 0
    pop static 4
    goto OutputCustom_24
label OutputCustom_25
label OutputCustom_24
    push constant 0
    return
function OutputCustom.backSpace 0
    push static 4
    push constant 0
    gt
    push static 3
    push constant 0
    gt
    or
    not
    if-goto OutputCustom_27
    push static 4
    push constant 0
    eq
    not
    if-goto OutputCustom_29
    push static 3
    push constant 1
    sub
    pop static 3
    push static 7
    pop static 4
    goto OutputCustom_28
label OutputCustom_29
    push static 4
    push constant 1
    sub
    pop static 4
label OutputCustom_28
    goto OutputCustom_26
label OutputCustom_27
label OutputCustom_26
    push constant 0
    return