// Compiled Main.jack:
function Main.init 0
    push constant 0
    call Main.drawTRex 1
    pop temp 0
    push constant 0
    label END
    	goto END  // loops infinitely
    return
function Main.drawTRex 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 7936
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 15744
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 16256
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 1920
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 8128
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 992
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 1009
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 8187
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 5119
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 255
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 126
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 108
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 68
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 204
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
